.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 90vh; /* Adjust height as needed */
    overflow: hidden; 
    margin-bottom: -170px;
}

.related-products h2 {
    color: #171717;
    font-size: 40px;
    font-weight: 600; 
}

.related-products hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.related-products-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%; 
    justify-content: center; 
    box-sizing: border-box;
}

.related-products-list .related-product-item {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.related-products-list img {
    width: 100%; 
    height: auto; 
}

@media(max-width: 1280px) {
    .relatedproducts {
        height: 70vh;
    }
    .relatedproducts h1 {
        font-size: 40px;
    }
    .relatedproducts hr {
        width: 160px;
        height: 4px;   
    }
    .relatedproducts-item {
        gap: 10px;
        margin-top: 30px;  
        margin-left: 10px;
    }
}
@media(max-width: 1024px) {
    .relatedproducts {
        height: 50vh;
        gap:6px;
    }
    .relatedproducts h1 {
        font-size: 30px;
    }
    .relatedproducts hr {
        width: 130px;
        height: 3px;   
    }
    .relatedproducts-item {
        gap: 10px;
        margin-top: 20px; 
        margin-left: 90px;
    } 
}
@media(max-width: 800px) {
    .relatedproducts {
        height: 60vh;
    }
    .relatedproducts h1 {
        font-size: 20px;
    }
    .relatedproducts hr {
        width: 100px;
    }
    .relatedproducts-item {
        gap: 5px;
        margin-left: 10px;
    } 
}
@media(max-width: 500px) {
    .relatedproducts {
        height: 100vh;
        width: 100%;
        margin-bottom: 100px;
    }
    .relatedproducts h1 {
        font-size: 20px;
    }
    .relatedproducts hr {
        width: 100px;
    }
    .relatedproducts-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    } 
    .relatedproducts img {
        width: 100%;
    }
}  
